/* Defining img of computer */
.img-computer img {
    display: block;
    left: 0px;
    width: 300px;
}

.img-sub-para {
    flex-direction: column;
    margin: 0px 0px;
    margin-top: 70px;
}

.img-sub-para #section-computer p {
    padding-right: 0;
    padding: 0px 15px;
}

#section-computer {
    margin-top: 0;
}

.head-1 h1 {
    margin: 20px auto;
    font-size: 2rem;
    width: 330px;
}

.head-1 p {
    padding: 0px 20px;
    font-size: 1rem;
}

.buttons {
    margin-top: 40px;
}

.btn {
    width: 300px;
}

.head-2 h1 {
    font-size: 1.9rem;
}

.head-2 p {
    font-size: 1rem;
    padding: 0px 35px;
}

#container-3 .head-3 h1 {
    margin: 20px auto;
    font-size: 1.8rem;
    width: 300px;
}

#container-3 .head-3 p {
    font-size: 1rem;
    padding: 0px 30px;
}

#container-3 {
    margin-top: 0px;
}

#container-3 .image-desktop img {
    width: 350px;
}

#container-4 .head-4 h1 {
    font-size: 1.8rem;
}

#container-4 .head-4 p {
    padding: 0px 30px;
}

.sub-head-container-4 {
    grid-template-columns: repeat(1, 1fr);
    margin: 0px 0px;
}

#container-4 .sub-head-container-4 .img-h1-p-container-4 {
    margin: 20px 0px;
}

#container-4 .img-h1-p-container-4 p {
    padding: 0px 30px;
}

#container-5 {
    flex-direction: column;
    margin-top: 80px;
}

#container-5 .logos-container-5 img {
    width: 140px;
}

#container-5 .logos-container-5:nth-child(2) {
    width: 120px;
}

#container-6 .head-6 p {
    font-size: 1rem;
    padding: 0px 35px;
    line-height: 25px;
}

#container-6 .head-6 h1 {
    font-size: 1.8rem;
}

.buttons {
    margin: 0;
    margin-top: 40px;
}

footer {
    flex-direction: column;
}

footer .six-names-footer {
    grid-template-columns: repeat(1, 1fr);
    left: 0;
    text-align: center;
}

footer .six-names-footer .names-starts {
    line-height: 50px;
}

.logo-footer img {
    margin: 25px;
}

footer .social-media-head {
    width: 0px;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

footer .social-media-head .sub-social-media img {
    margin: 0px 10px;
}